# Docker
Dockerfile
docker-compose.yml

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Datos y Notas (Privado)
data/output/*
!data/output/.gitkeep
notas.md
*.log
errores_criticos.txt

# OS
.DS_Store
Thumbs.db
